<launch>
  <node name="homing" type="homing.py" pkg="behaviour_circuits" />
  <node name="collision_avoidance" type="collision_avoidance.py" pkg="behaviour_circuits" />
  <node name="sloppy_joystick" type="sloppy_joystick.py" pkg="behaviour_circuits" />

 <include file="$(find teleop_twist_joy)/launch/teleop_circuit.launch"/>
 <include file="$(find behaviour_circuits)/launch/turtlebot3_navigation.launch"/> 

  <node name="fusion" type="fusion.py" pkg="behaviour_circuits" args="homing_cmd col_cmd sloppy_joy_cmd nav_cmd" output="screen" /> 
</launch>
